<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <!-- this is  for loop in django -->
    {% for prd in product %}


    <p>Product Id -->{{prd.product_id}}</p>
    <p>Product Name -->By {{prd.product_name}} on {{prd.pub_date}}</p>
    <p>Product Category -->{{prd.category}}</p>
    <p>Product Subcategory -->{{prd.subcategory}}</p>
    <p>Product Price -->Price --> {{prd.price}}</p>
    <p>Product Description -->{{prd.desc}}</p>
    <p>Product Image -->{{prd.image}}</p>


    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>